:root {
  --background-color: #f2f2f2;
  --task-color: #ffffff;
  --task-font-color: #494c6b;
}
[data-them="dark"] {
  --background-color: #171823;
  --task-color: #25273d;
  --task-font-color: #c8cbe7;
  background-image: url(/public/images/bg-mobile-dark.jpg);
}
[data-them="light"] {
  background-image: url(/public/images/bg-mobile-light.jpg);
}

[data-them="dark"] .text-field,
[data-them="dark"] .filter-btn-container,
[data-them="dark"] .item-left-delete,
[data-them="dark"] .item,
[data-them="dark"] .filter-form {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #393a4b;
}
[data-them="dark"] .text-field {
  color: #c8cbe7;
}
[data-them="dark"] .task-text.task-text-done {
  text-decoration: line-through;
  color: #4d5067;
}
[data-them="dark"] .toggle-img {
  background-image: url(/public/images/icon-sun.svg);
}
[data-them="light"] .toggle-img {
  background-image: url(/public/images/icon-moon.svg);
}

[data-them="dark"] .icon-cross {
  background-image: url(/public/images/icon-cross.svg);
}
[data-them="light"] .icon-cross {
  background-image: url(/public/images/icon-cross-light.svg);
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-size: 100vw 20rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: var(--background-color);
  padding: 0rem 2.4rem 7.2rem 2.7rem;
}
/* more than 1440PX (for desktop )*/
@media (min-width: 90em) {
  .App {
    width: 100vw;
    background-size: 100vw 31rem;
    padding: 0rem 45rem 5.2rem 45rem;
  }
  [data-them="dark"] {
    background-image: url(/public/images/bg-desktop-dark.jpg);
  }
  [data-them="light"] {
    background-image: url(/public/images/bg-desktop-light.jpg);
  }
}
